USE [master]
GO
/****** Nesnesi: Database [ExamSchedulerDB] Betik Tarihi: 15.05.2026 18:06:56 ******/
CREATE DATABASE [ExamSchedulerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamSchedulerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ExamSchedulerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamSchedulerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ExamSchedulerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamSchedulerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamSchedulerDB]
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_ToplamKapasite] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ToplamKapasite]
(
    @DersID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Toplam INT;

    SELECT
        @Toplam = SUM(dl.Kapasite)
    FROM Sinav_Salonlari ss
    INNER JOIN Sinavlar s
    ON ss.SinavID = s.SinavID
    INNER JOIN Derslikler dl
    ON ss.DerslikID = dl.DerslikID
    WHERE s.DersID = @DersID;

    RETURN @Toplam;
END;
GO
/****** Nesnesi: Table [dbo].[Bolumler] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BolumAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Dersler] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](20) NOT NULL,
	[DersAdi] [nvarchar](100) NOT NULL,
	[DersTuru] [nvarchar](30) NOT NULL,
	[OgrenciSayisi] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[BolumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Oturumlar] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oturumlar](
	[OturumID] [int] IDENTITY(1,1) NOT NULL,
	[OturumAdi] [nvarchar](50) NOT NULL,
	[BaslangicSaat] [time](7) NOT NULL,
	[BitisSaat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Derslikler] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Derslikler](
	[DerslikID] [int] IDENTITY(1,1) NOT NULL,
	[DerslikAdi] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
	[DerslikTipi] [nvarchar](30) NOT NULL,
	[Kat] [int] NULL,
	[Aktif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DerslikAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Sinavlar] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinavlar](
	[SinavID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[OturumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Sinav_Salonlari] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Salonlari](
	[SinavSalonID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NOT NULL,
	[DerslikID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavSalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_SinavProgrami] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SinavProgrami] AS

SELECT
    d.DersAdi,
    b.BolumAdi,
    s.Tarih,
    o.OturumAdi,
    dl.DerslikAdi

FROM Sinavlar s

INNER JOIN Dersler d
ON s.DersID = d.DersID

INNER JOIN Bolumler b
ON d.BolumID = b.BolumID

INNER JOIN Oturumlar o
ON s.OturumID = o.OturumID

INNER JOIN Sinav_Salonlari ss
ON s.SinavID = ss.SinavID

INNER JOIN Derslikler dl
ON ss.DerslikID = dl.DerslikID;
GO
/****** Nesnesi: Table [dbo].[Personel] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Unvan] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[BolumID] [int] NOT NULL,
	[Aktif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Gozetmen_Atamalari] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gozetmen_Atamalari](
	[GozetmenAtamaID] [int] IDENTITY(1,1) NOT NULL,
	[SinavSalonID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GozetmenAtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_GozetmenliSinavProgrami] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GozetmenliSinavProgrami] AS

SELECT
    d.DersAdi,
    b.BolumAdi,
    s.Tarih,
    o.OturumAdi,
    dl.DerslikAdi,
    p.Unvan,
    p.Ad,
    p.Soyad

FROM Gozetmen_Atamalari ga

INNER JOIN Sinav_Salonlari ss
ON ga.SinavSalonID = ss.SinavSalonID

INNER JOIN Sinavlar s
ON ss.SinavID = s.SinavID

INNER JOIN Dersler d
ON s.DersID = d.DersID

INNER JOIN Bolumler b
ON d.BolumID = b.BolumID

INNER JOIN Oturumlar o
ON s.OturumID = o.OturumID

INNER JOIN Derslikler dl
ON ss.DerslikID = dl.DerslikID

INNER JOIN Personel p
ON ga.PersonelID = p.PersonelID;
GO
/****** Nesnesi: Table [dbo].[Log_Kayitlari] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Kayitlari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTuru] [nvarchar](100) NOT NULL,
	[EskiDeger] [nvarchar](200) NULL,
	[YeniDeger] [nvarchar](200) NULL,
	[DegistirenKullanici] [nvarchar](100) NOT NULL,
	[IslemTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Personel_Durum] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_Durum](
	[DurumID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[OturumID] [int] NOT NULL,
	[MazeretTuru] [nvarchar](100) NOT NULL,
	[Uygun] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SinavLoglari] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinavLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NULL,
	[IslemTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Derslikler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Log_Kayitlari] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Personel] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Personel_Durum] ADD  DEFAULT ((0)) FOR [Uygun]
GO
ALTER TABLE [dbo].[SinavLoglari] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD  CONSTRAINT [FK_Dersler_Bolumler] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Dersler] CHECK CONSTRAINT [FK_Dersler_Bolumler]
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD  CONSTRAINT [FK_GozetmenAtamalari_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari] CHECK CONSTRAINT [FK_GozetmenAtamalari_Personel]
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD  CONSTRAINT [FK_GozetmenAtamalari_SinavSalonlari] FOREIGN KEY([SinavSalonID])
REFERENCES [dbo].[Sinav_Salonlari] ([SinavSalonID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari] CHECK CONSTRAINT [FK_GozetmenAtamalari_SinavSalonlari]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Bolumler] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Bolumler]
GO
ALTER TABLE [dbo].[Personel_Durum]  WITH CHECK ADD  CONSTRAINT [FK_PersonelDurum_Oturumlar] FOREIGN KEY([OturumID])
REFERENCES [dbo].[Oturumlar] ([OturumID])
GO
ALTER TABLE [dbo].[Personel_Durum] CHECK CONSTRAINT [FK_PersonelDurum_Oturumlar]
GO
ALTER TABLE [dbo].[Personel_Durum]  WITH CHECK ADD  CONSTRAINT [FK_PersonelDurum_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Personel_Durum] CHECK CONSTRAINT [FK_PersonelDurum_Personel]
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalonlari_Derslikler] FOREIGN KEY([DerslikID])
REFERENCES [dbo].[Derslikler] ([DerslikID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari] CHECK CONSTRAINT [FK_SinavSalonlari_Derslikler]
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalonlari_Sinavlar] FOREIGN KEY([SinavID])
REFERENCES [dbo].[Sinavlar] ([SinavID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari] CHECK CONSTRAINT [FK_SinavSalonlari_Sinavlar]
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD  CONSTRAINT [FK_Sinavlar_Dersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
GO
ALTER TABLE [dbo].[Sinavlar] CHECK CONSTRAINT [FK_Sinavlar_Dersler]
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD  CONSTRAINT [FK_Sinavlar_Oturumlar] FOREIGN KEY([OturumID])
REFERENCES [dbo].[Oturumlar] ([OturumID])
GO
ALTER TABLE [dbo].[Sinavlar] CHECK CONSTRAINT [FK_Sinavlar_Oturumlar]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD CHECK  (([OgrenciSayisi]>(0)))
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD CHECK  (([Yariyil]>=(1) AND [Yariyil]<=(8)))
GO
ALTER TABLE [dbo].[Derslikler]  WITH CHECK ADD CHECK  (([Kapasite]>(0)))
GO
ALTER TABLE [dbo].[Oturumlar]  WITH CHECK ADD  CONSTRAINT [CK_OturumSaat] CHECK  (([BaslangicSaat]<[BitisSaat]))
GO
ALTER TABLE [dbo].[Oturumlar] CHECK CONSTRAINT [CK_OturumSaat]
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_SinavEkle] Betik Tarihi: 15.05.2026 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SinavEkle]
    @DersID INT,
    @Tarih DATE,
    @OturumID INT
AS
BEGIN
    INSERT INTO Sinavlar (DersID, Tarih, OturumID)
    VALUES (@DersID, @Tarih, @OturumID);
END;
GO
USE [master]
GO
